@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: #0f0f0f;
  color: var(--foreground);
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  margin:0px;
  padding:0px;
}
@font-face {
  font-family: "CabinetGrotesk";
  src: url("../app/assets/fonts/CabinetGrotesk-Regular.otf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
 
:root {
  --font-cabinet-grotesk: 'CabinetGrotesk', sans-serif;
}
 
body {
  font-family: var(--font-cabinet-grotesk), sans-serif;
}


.bricolage {
  font-family: var(--font-bricolage);
}
button {
  cursor: pointer;
}
